body{
    margin: 0px;
    padding: 0px;
}

#navbar1{
    background-color: #131921;
    
}

#logo{
    width: 100px;
    margin-left: 5px;
    margin-top: 10px;
}

#nav1 ul {
    display: flex;
    margin-left: 50px;
    margin-top: -45px;
}
#nav1 ul li {
    display: flex;
    margin-left: 50px;
    list-style-type: none; 
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


#nav2 ul{
    display: flex;
    margin-left: 990px;
    margin-top: -92px;
}

#nav2 ul li{
    list-style-type: none;
    padding: 37px 50px 10px 0px ;
    color: white ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.search-container {
    position: absolute;
    width: 600px; 
    margin-left: 370px;
    margin-top: -61px;
  }

  .search-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
  }

  .search-button {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #FF9900;
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    padding: 10px;
    cursor: pointer;
  }

  .search-input::placeholder {
    color: #0a0908; /* Change the text color for this specific input */
    font-weight: bold; /* Make it bold */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  #navbar2{
    margin-top: -17px;
    margin-left: 00px;
    background-color: #1f2b3a;
    
  }
  
  #navbar2 div{
    margin: 10px;
    display: flex;
    margin-left: 19px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

 #bgimage img{
    width: 1470px;
    margin-top: -10px;

 }

 .gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 30%, rgb(255, 255, 255) 80%);
    pointer-events: none; /* Ensures the overlay doesn't interfere with mouse events on the image */
}

/* #image1{
    position: absolute;
    /* transition: left 1s; */
    /* animation: imageslide 1s linear infinite ;
} */

@keyframes imageslide{
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(-200%);
    }
} 



/* #image2{
    position: absolute;
}
#image3{
    position: absolute;
} */

