body {
    margin: 0px;
    padding: 0px;
    background-color: #fbfbfb;
}

#navbar1 {
    background-color: #131921;

}

#logo {
    width: 100px;
    margin-left: 5px;
    margin-top: 10px;
}

#deliver {
    font-size: 13px;
    position: absolute;
    margin-top: 20px;
    margin-left: 12px;
}

#update {
    position: absolute;
    margin-top: 30px;
    font-weight: 800;
    margin-left: 12px;
}

#nav2language {
    font-weight: 800;
    margin-top: 53px;
}


#account {
    position: absolute;
    margin-top: 33px;
    font-weight: 800;


}

#return {
    position: absolute;
    margin-top: 33px;
    font-weight: 800;
    margin-left: 120px;

}

.order {
    position: absolute;
    margin-top: 39px;
    font-size: 13px;
    margin-left: 120px;
}

.hello {
    position: absolute;
    margin-top: 39px;
    font-size: 13px;
}

#nav2cart {
    position: absolute;
    font-weight: 800;
    margin-top: 53px;
    margin-left: 360px;
}

#nav1 ul {
    display: flex;
    margin-left: 50px;
    margin-top: -63px;
}

#nav1 ul li {
    display: flex;
    margin-left: 50px;
    list-style-type: none;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


#nav2 ul {
    display: flex;
    margin-left: 990px;
    margin-top: -92px;
}

#nav2 ul li {
    list-style-type: none;
    padding: 37px 50px 10px 0px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.search-container {
    position: absolute;
    width: 600px;
    margin-left: 370px;
    margin-top: -61px;
}

.search-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

.search-button {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #FF9900;
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    padding: 10px;
    cursor: pointer;
}

.search-input::placeholder {
    color: #0a0908;
    /* Change the text color for this specific input */
    font-weight: bold;
    /* Make it bold */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#navbar2 {
    margin-top: -17px;
    margin-left: 00px;
    background-color: #1f2b3a;

}

#navbar2 div {
    margin: 10px;
    display: flex;
    margin-left: 19px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#bgimage img {
    width: 1423px;
    margin-top: -10px;

}

.gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 30%, rgb(255, 255, 255) 80%);
    pointer-events: none;
    /* Ensures the overlay doesn't interfere with mouse events on the image */
}


/* #div1{
    padding: 190px 155px 190px 155px;
    position: absolute;
    background-color: rgb(255, 255, 255);
   
    margin-left: 30px;
    box-shadow: 5px 5px 10px  rgba(196, 64, 64, 0.5);
    margin-top: -320px;
    
}

#div1 img{
    width: 100px;
}


#div1 h2{
    position: absolute;
    margin-top: -180px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: -130px;
}

.div1image1{
    position: absolute;
    margin-left: -110px;
    margin-top: -80px;
}
.div1image2{
    position: absolute;
    margin-top: -120px;
    margin-left: 30px;
}
.div1image3{
    position: absolute;
    margin-top: 25px;
    margin-left: -130px;
}
.div1image4{
    position: absolute;
    margin-left: 30px;
    margin-top: 25px;
}

#div1soap{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#div1oil{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#div1hair{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#div1fibre{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} */


.product-block {
    position: absolute;
    margin-left: 17px;
    margin-top: -330px;
    text-align: center;
    background-color: #ffffff;
    padding: 0px 30px 0px 30px;
    max-width: 280px;

    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.product-block h2 {
    font-size: 24px;
}

.product-row {
    display: flex;

}

.product {
    width: calc(50% - 10px);
    /* 50% width with some spacing between the columns */
    margin: 5px;
    text-align: center;
    background-color: #f0ebeb;
    padding: 10px;
    /* border: 1px solid #ddd; */
}

.product img {
    max-width: 100%;
}

.product p {
    font-size: 16px;
    margin: 10px 0;
}

/* ================TV===================== */

.tv-block {
    position: absolute;
    margin-left: 378px;
    margin-top: -330px;
    text-align: center;
    background-color: #ffffff;
    padding: 50px 30px 7px 30px;
    max-width: 280px;

    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.tv-block h2 {
    font-size: 24px;
    margin-top: -30px;
}

.tv-row {
    display: flex;

}

.tv {
    width: calc(50% - 10px);
    /* 50% width with some spacing between the columns */
    margin: 5px;
    text-align: center;
    background-color: #c14eff;
    padding: 10px;
    /* border: 1px solid #ddd; */
}

.tv img {
    max-width: 100%;
}

.tv p {
    font-size: 16px;
    margin: 10px 0;
}



/* ============================TV========================== */


/* ===========================Mobiles======================= */

.mobiles-block {
    position: absolute;
    margin-left: 740px;
    margin-top: -330px;
    text-align: center;
    background-color: #ffffff;
    padding: 0px 30px 0px 30px;
    max-width: 280px;

    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.mobiles-block h2 {
    font-size: 24px;
}

.mobiles-row {
    display: flex;

}

.mobiles {
    width: calc(50% - 10px);
    /* 50% width with some spacing between the columns */
    margin: 5px;
    text-align: center;
    background-color: #f0ebeb;
    padding: 10px;
    /* border: 1px solid #ddd; */
}

.mobiles img {
    max-width: 100%;
}

.mobiles p {
    font-size: 16px;
    margin: 10px 0;
}

/* ===========================Mobiles======================= */


/* ==========================Headphones======================= */

#headphone {
    position: absolute;
    padding: 0px 30px 125px 30px;
    max-width: 280px;
    /* border: 2px solid red; */
    margin-left: 740px;
    margin-top: -330px;
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

#headphone img {
    width: 400px;
    max-width: 100%;
}


/* ==========================Headphones======================= */

/* ==========================sign in============================== */


.sign-button {
    position: absolute;
    margin-left: 1110px;
    margin-top: -220px;
    transform: translateY(-50%);
    background-color: #fda116;
    color: rgb(247, 230, 0);
    border: none;
    border-radius: 10px;
    padding: 10px 95px 10px 95px;
    /* cursor: pointer;  */
    color: black;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#signin{
    position: absolute;
    margin-left: 1110px;
    margin-top: -310px;
}

#signup{
    background-color: white;
}

/* ==========================sign in========================= */


/* =========================shoes============================ */

.shoes-block {
    position: absolute;
    margin-left: 17px;
    margin-top: 150px;
    text-align: center;
    background-color: #ffffff;
    padding: 0px 30px 57px 30px;
    max-width: 280px;

    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.shoes-block h2 {
    font-size: 24px;
}

.shoes-row {
    display: flex;

}

.shoes {
    width: calc(50% - 10px);
    /* 50% width with some spacing between the columns */
    margin: 5px;
    text-align: center;
    background-color: #f0ebeb;
    padding: 10px;
    /* border: 1px solid #ddd; */
}

.shoes img {
    max-width: 100%;
}

.shoes p {
    font-size: 16px;
    margin: 10px 0;
}



/* =========================shoes============================ */


/* =======================Kitchen=============================== */

.kitchen-block {
    position: absolute;
    margin-left: 377px;
    margin-top: 150px;
    text-align: center;
    background-color: #ffffff;
    padding: 0px 30px 0px 30px;
    max-width: 280px;

    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.kitchen-block h2 {
    font-size: 24px;
}

.kitchen-row {
    display: flex;

}

.kitchen {
    width: calc(50% - 10px);
    /* 50% width with some spacing between the columns */
    margin: 5px;
    text-align: center;
    background-color: #f0ebeb;
    padding: 10px;
    /* border: 1px solid #ddd; */
}

.kitchen img {
    max-width: 100%;
}

.kitchen p {
    font-size: 16px;
    margin: 10px 0;
}


/* =======================Kitchen=============================== */


/* =======================================freezer============================================= */


.freezer-block {
    position: absolute;
    margin-left: 740px;
    margin-top: 150px;
    text-align: center;
    background-color: #ffffff;
    padding: 0px 30px 0px 30px;
    max-width: 280px;

    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.freezer-block h2 {
    font-size: 24px;
}

.freezer-row {
    display: flex;

}

.freezer {
    width: calc(50% - 10px);
    /* 50% width with some spacing between the columns */
    margin: 5px;
    text-align: center;
    background-color: #f0ebeb;
    padding: 10px;
    /* border: 1px solid #ddd; */
}

.freezer img {
    max-width: 100%;
}

.freezer p {
    font-size: 16px;
    margin: 10px 0;
}




/* =======================================freezer============================================= */




/* ======================================================Laptop================================================== */

#laptop {
    position: absolute;
    padding: 0px 30px 78px 30px;
    max-width: 280px;
    /* border: 2px solid red; */
    margin-left: 1090px;
    margin-top: 150px;
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

#laptop img {
    width: 400px;
    max-width: 100%;
}


/* ======================================================Laptop================================================== */


/* =====================================================lastnav======================================================== */

#lastnav{
    position: relative;
    background-color: #232F3E;
    
}


#lastnav1{
    
    margin-top: 800px;
    margin-left: 250px;
}

/* =====================================================lastnav======================================================== */



/* ==========================================================Footer================================================== */

#footer{
    margin-top: 700px;
}


/* ==========================================================Footer================================================== */



.sign-button2 {
    position: absolute;
    margin-left: 600px;
    margin-top: -220px;
    transform: translateY(-50%);
    background-color: #fda116;
    color: rgb(247, 230, 0);
    border: none;
    border-radius: 5px;
    padding: 0px 95px 0px 95px;

    color: black;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}


#signup2{
    
    position: absolute;
    background-color: white;
    margin-top: 870px;
}



#mobile{
    /* text-decoration: none; */
    color: white;
}


#smartwatches{
    /* text-decoration: none; */
    color: white;
}


#freezers{
    /* text-decoration: none; */
    color: white;
}