body{
    margin: 0px;
    padding: 0px;
}

#navbar1{
    background-color: #131921;
    
}

#logo{
    width: 100px;
    margin-left: 5px;
    margin-top: 10px;
}

#deliver{
    font-size: 13px;
    position: absolute;
    margin-top: 20px;
    margin-left: 12px;
}

#update{
    position: absolute;
    margin-top: 30px;
    font-weight: 800;
    margin-left: 12px;
}

#nav2language{
    font-weight: 800;
    margin-top: 53px;
}


#account{
    position: absolute;
    margin-top: 33px;
    font-weight: 800;
    
    
}
#return{
    position: absolute;
    margin-top: 33px;
    font-weight: 800;
    margin-left: 120px;
    
}

.order{
    position: absolute;
    margin-top: 39px;
    font-size: 13px;
    margin-left: 120px;
}

.hello{
    position: absolute;
    margin-top: 39px;
    font-size: 13px;
}

#nav2cart{
    position: absolute;
    font-weight: 800;
    margin-top: 53px;
    margin-left: 360px;
}

#nav1 ul {
    display: flex;
    margin-left: 50px;
    margin-top: -63px;
}
#nav1 ul li {
    display: flex;
    margin-left: 50px;
    list-style-type: none; 
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


#nav2 ul{
    display: flex;
    margin-left: 990px;
    margin-top: -92px;
}

#nav2 ul li{
    list-style-type: none;
    padding: 37px 50px 10px 0px ;
    color: white ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.search-container {
    position: absolute;
    width: 600px; 
    margin-left: 370px;
    margin-top: -61px;
  }

  .search-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
  }

  .search-button {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #FF9900;
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    padding: 10px;
    cursor: pointer;
  }

  .search-input::placeholder {
    color: #0a0908; /* Change the text color for this specific input */
    font-weight: bold; /* Make it bold */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  #navbar2{
    margin-top: -17px;
    margin-left: 00px;
    background-color: #1f2b3a;
    
  }
  
  #navbar2 div{
    margin: 10px;
    display: flex;
    margin-left: 19px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

 #bgimage img{
    width: 1440px;
    margin-top: -10px;

 }

 .gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 30%, rgb(255, 255, 255) 80%);
    pointer-events: none; /* Ensures the overlay doesn't interfere with mouse events on the image */
}


/* #div1{
    padding: 190px 155px 190px 155px;
    position: absolute;
    background-color: rgb(255, 255, 255);
   
    margin-left: 30px;
    box-shadow: 5px 5px 10px  rgba(196, 64, 64, 0.5);
    margin-top: -320px;
    
}

#div1 img{
    width: 100px;
}


#div1 h2{
    position: absolute;
    margin-top: -180px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: -130px;
}

.div1image1{
    position: absolute;
    margin-left: -110px;
    margin-top: -80px;
}
.div1image2{
    position: absolute;
    margin-top: -120px;
    margin-left: 30px;
}
.div1image3{
    position: absolute;
    margin-top: 25px;
    margin-left: -130px;
}
.div1image4{
    position: absolute;
    margin-left: 30px;
    margin-top: 25px;
}

#div1soap{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#div1oil{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#div1hair{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#div1fibre{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} */


.product-block {
    position: absolute;
    margin-left:30px;
    margin-top: -330px;
    text-align: center;
    background-color: #ffffff;
    padding: 10px;
    max-width: 280px;
    
    box-shadow: 5px 5px 10px  rgba(0, 0, 0, 0.5);
}

.product-block h2 {
    font-size: 24px;
}

.product-row {
    display: flex;
    
}

.product {
    width: calc(50% - 10px);
    /* 50% width with some spacing between the columns */
    margin: 5px;
    text-align: center;
    background-color: #f0ebeb;
    padding: 10px;
    /* border: 1px solid #ddd; */
}

.product img {
    max-width: 100%;
}

.product p {
    font-size: 16px;
    margin: 10px 0;
}